.navbar {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 12vh;
}

.navbar-heading1 {
  padding: 1rem;
  font-size: 24px;
  margin-left: 1rem;
  color: rgb(79, 70, 229);
  font-weight: 700;
  letter-spacing: 0.5px;
  display: inline-block;
}

.port {
  background: linear-gradient(90deg, rgb(79, 70, 229), rgb(99, 102, 241)) text;
  -webkit-text-fill-color: transparent;
}

.folio {
  background: linear-gradient(90deg, rgb(99, 102, 241), rgb(34, 211, 238)) text;
  -webkit-text-fill-color: transparent;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  padding: 1.3rem;
}

.link-style {
  font-weight: 600;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 17px;
  color: inherit;
  cursor: pointer;
}

.hamburger {
  font-size: 2rem;
  padding: 1.5rem;
  cursor: pointer;
  user-select: none;
}

/* Mobile dropdown menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.mobile-link {
  padding: 1rem 2rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  background-color: white;
  color: inherit;
  border-top: 1px solid #eee;
}
