.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.hero h1 {
  font-size: 3rem;
}

.hero h1 span {
  background: linear-gradient(
    90deg,
    #2563eb,
    /* blue */ #4f46e5,
    /* indigo */ #7c3aed /* violet */
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 700;
}

.hero p {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-top:-15px;
}

.hero-buttons {
  margin-top: 1.5rem;
}

.btn {
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  margin-right: 1rem;
  text-decoration: none;
}

.primary {
  background: #4f46e5;
  color: white;
}

.secondary {
  border: 1px solid #4f46e5;
  color: #4f46e5;
}


.my-social-links div {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(99, 102, 241, 0.2);
  border-radius: 19px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.my-social-links div:hover {
  background-color: lightskyblue;
}

#about {
  scroll-margin-top: 64px; /* height of your navbar */
}

#home{
   scroll-margin-top: 64px;
}

#skills{
   scroll-margin-top: 64px;
}

#contact{
   scroll-margin-top: 64px;
}

#xp{
  scroll-margin-top: 64px;
}