.hor-line {
  background: linear-gradient(
    90deg,
    #2563eb,
    /* blue */ #4f46e5,
    /* indigo */ #7c3aed /* violet */
  );
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* Icon container */
.contact-icon {
  width: 48px;
  height: 48px;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
}

/* Icon color themes */
.contact-icon.email {
  background-color: #e6f0ff;
  color: #2563eb;
}

.contact-icon.github {
  background-color: #f3e8ff;
  color: #7c3aed;
}

.contact-icon.linkedin {
  background-color: #e0f2fe;
  color: #0284c7;
}

/* Text */
.contact-text h4 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #0f172a;
}

.contact-text span {
  font-size: 15px;
  color: #475569;
}
